$max-width: 1440;
$min-width: 375;
$max-page-padding: 165;
$min-page-padding: 24;

$max-mobile-width: 576px;
$max-tablet-width: 992px;

$header-desktop-h: 136;
$header-mobile-h: 88;
$triangle-size: 24px;


$amin-time: 300ms;

$c_white: #fff;
$c_black: #24303E;
$c_light-gray: #A7AAAD;
$c_gray: #808397;
$c_dark-gray: #5B636D;
$c_dark-green: #24554A;
$c_green: #2C7566;
$c_light-green: #90D4C6;
$c_dark-blue: #052C3B;
$c_blue: #19536C;
$c_light-yellow: #FBD600;
$c_yellow: #FAD400;
$c_red: #FE7766;