@use '../utils';

.container {
  margin: 0 auto;
  max-width: utils.$max-width + px;
  height: 100%;
  @include utils.adaptive-value('padding-inline', utils.$max-page-padding, utils.$min-page-padding);

  &--small {
    @include utils.adaptive-value('padding-inline', 190, utils.$min-page-padding);
  }

  &--large {
    @include utils.adaptive-value('padding-inline', 44, utils.$min-page-padding);
  }
}
