@use '../utils';

.gallery {
  &__list {
    display: grid;
    grid-auto-flow: column;
    max-height: 500px;

    @include utils.onTablet {
      max-height: max-content;
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: row;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    @include utils.onTablet {
      aspect-ratio: 1;
    }
  }
}
