@font-face {
  font-family: Barlow;
  font-display: swap;
  src: url("/fonts/Barlow-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Fraunces;
  font-display: swap;
  src: url("/fonts/Fraunces_72pt_Soft-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
